.card-body {
  padding: 1rem !important;
}

.list-group-item {
  padding-top: 0.5rem !important;
  padding-right: 0.75rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.75rem !important;
}

.card-title .text {
  font-size: 20px;
}

.col {
  padding: 0 0.5rem 0 0.5rem !important;
}

.card {
  margin-top: 1rem !important;
}

.container-fluid {
  padding: 0rem 0.5rem 0rem 0.5rem !important;
}

.content {
  background-color: #f8f9fa;
  padding: 0rem 1rem 1rem 1rem !important;
}
